<%- include("../compartilhado/header") %>
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower">Como podemos ajudar você ?</span>
                        </h2>
                        <% if(sucesso){ %>
                            <br>
                            <div class="alert alert-success" role="alert">
                                <%= sucesso %>
                            </div>
                            <br>
                        <% } else if(erro){ %>
                            <div class="alert alert-danger" role="alert">
                                <%= erro %>
                            </div>
                            <br>
                        <% } %>
                        <form action="/fale-conosco/cadastrar" method="POST">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="nome" required name="nome" placeholder="Digite o seu nome">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" required name="email" placeholder="Digite o seu email">
                            </div>
                            <div class="form-group">
                                <label for="comentario">Sua Dúvida</label>
                                <textarea class="form-control" id="comentario" name="comentario" placeholder="Digite a sua dúvida"></textarea>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
<%- include("../compartilhado/footer") %>